.fullwidthimages-section {
  margin: 0;
  padding: 0;
  background: #f7faff;


}
.fullwidthimages-row {
  display: block;
  width: 100vw;
}
.fullwidthimages-img {
  width: 100vw;
  height: 320px;
  object-fit: cover;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  transition: transform 0.18s;
}
.fullwidthimages-img:hover {
  transform: scale(1.03);
  z-index: 2;
}
.imagegallery-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 900px) {
  .fullwidthimages-img {
    height: 400px;
  }
} 